@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

#logo-container {
  position: fixed;

  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Set the background color if needed */
  z-index: 999; /* Ensure it's above the content */
}

#content-container {
  display: none;
}


.bike { max-width:400px; margin:0 auto; }
.bike-tyre {
  transform:rotate(0deg);
  transform-origin: 13.4% 79.6%;
 
}
.bike-tyre.bike-tyre-back {
  transform-origin: 68% 79.6%;
}
.line1 { 
  transform-origin: 22.6% 90.6%;
}
.line2 { 
  transform-origin: 22.6% 88.6%;
}
.line3 { 
  transform-origin: 88.6% 82.4%;
}
.line4 { 
  transform-origin: 81.8% 68.2%;
}
.line5 { 
  transform-origin: 81.8% 66.2%;
}
.line6 { 
  transform-origin: 93% 44.2%;
  margin-left:45px;
}
.line7 { 
  transform-origin: 94.6% 42.4%;
  margin-left:45px;
}
.jerk {
  transform:translateX(0);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes linejerk {
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(24px);
  }
  40% {
    transform: translateX(18px);
  }
  50% {
    transform: translateX(22px);
  }
  60% {
    transform: translateX(28px);
  }
  70% {
    transform: translateX(18px);
  }
  80% {
    transform: translateX(24px);
  }
  0% {
    transform: translateX(0);
  }
}
.bike-tyre {
  animation: rotating 350ms linear infinite;
}
.jerk {
  animation: linejerk 450ms linear infinite;
}.slider {
  height: 250px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* .slide-track {
  display: flex;
  width: calc(250px * 10); /* Adjust the number based on the total number of slides */
  /* animation: scroll 40s linear infinite; */
  /* &:hover { */
    /* animation-play-state: paused; */
  /* } */
/* } */ 

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
} */


.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.img-carousal:hover {
  transform: translateZ(20px);
  transition: transform 1s;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.fade-anim img {
  animation:fadeAnim 0.5s
  ease-out;
}
/* @keframes fadeAnim {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
} */